@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<string>
<!--This is the view that will show the information that is selceted if we are filtering by a category-->
<a class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home" asp-route-category="">Home</a>

@foreach (string category in Model)
{
    //This first line of code will allow us to be able to show which category is selected
    <a class="btn btn-block @(category ==ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home"
       asp-route-category="@category"
       asp-route-page="1">@category
    </a>
}

