@{
    ViewData["Title"] = "Online Bookstore";
}
@model ProjectListViewModel

@foreach (var x in Model.Projects)
{
    <partial name="ProjectSummary" model="x" />
}
<!--Pass this the info in the pagemodel view model so that it can access the information dynamically-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class ="btn"
     page-class-normal ="btn-outlint-dark"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1"></div>
 