<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment 6</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <!--This will show all of the many books with their data. IT also is a header that we are divyig up into other columns-->
    <div class="bg-dark text-white p-lg-1 ">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand">ASSIGNMENT 8 - ONLINE BOOKSTORE</div>
                <div class="col-6 text-right">
                    <vc:cart-summary/>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row m-1 p-1">
            <div id="header" class="col-3">
                <h1>Online Bookstore</h1>
                <h5>Click on the title of a book to viewmore inforamtion!</h5>
                <vc:navigation-menu />
            </div>
            <!--This will allow us to see all of the books organized and in a way that we will be able to have the index acess the bootstrap from this page -->
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
